/* This is my element selector */
h1 {
  background-color: aqua;
  border: 1px solid orange;
  padding: 10px;
  text-align: center;
  color: darkmagenta;
  font-style: italic;
}
/* this is my id selector  */
#one {
  background-color: azure;
  border: 2px dotted violet;
  padding: 15px;
  text-align: center;
  color: black;
}

/* this is my paragrapg selector */
.two {
  background-color: lightslategray;
  border: 2px dotted red;
  padding: 13px;
  text-align: center;
  color: ;
}

.two:hover {
  background-color: chartreuse;
  text-shadow: 10cm;
  font-size: 150%;
  color: red;
  border: 10px solid blue;
  font-style: oblique;
  font-weight: bold;
  padding: 10px;
}
